files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
        {
            "metrics":{
                "metrics_collected":{
                    "mem":{
                        "measurement":[
                        "mem_used_percent"
                        ],
                        "metrics_collection_interval":60
                    }
                },
                "append_dimensions": {
                    "InstanceId": "${aws:InstanceId}"
                }
            }
        }
container_commands:
  start_cloudwatch_agent:
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json -s
  create_alarm:
    command: |
        InstanceId=$(ec2-metadata -i)
        InstanceId=${InstanceId:13}
        aws cloudwatch put-metric-alarm \
            --alarm-name 'MemoryUtilization' \
            --alarm-description 'Alarm when server Memory exceeds 80 percent' \
            --metric-name mem_used_percent \
            --namespace CWAgent \
            --statistic Average \
            --period 60 \
            --threshold 80 \
            --comparison-operator GreaterThanThreshold \
            --dimensions Name=InstanceId,Value=$InstanceId \
            --evaluation-periods 1 \
            --alarm-actions arn:aws:swf:eu-west-3:073501479403:action/actions/AWS_EC2.InstanceId.Reboot/1.0 \
            --unit Percent
